.sidebar {
    background-color: #007155;
    height: 100vh;
    width: 15vw;
    padding-top: 6vh;
}

.sidebar__container{
    width: 70%;
    margin: auto auto; 
}

.sidebar__logo {
    border-radius: 100px;
    background-color: white;
    height: 146px;
    width: 146px;
    background-image: url('../../../assets/main.gif');
    background-position: center center;
    background-size: contain;
}

.sidebar__nav {
    display: grid;
    gap: 1.5em;
    margin-top: 5vh;
}

.nav__item {
    display: flex;
    gap: 1.5em;
    border: none;
    background: none;
    align-items: center;
}

.nav__item:hover .nav__icon {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.nav__title {
    color: white;
    font-weight: 300;
    font-size: 1.5em;
    line-height: 1.2em;
    text-align: left;
}

.nav__item:hover .nav__title {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.activetitle {
    font-weight: 700;
    color: #8DBBFF;
}

.nav__icon {
    fill: white;
}

.activeicon {
    fill: #8DBBFF;
}